# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# design-sync
frontend/design-system/.ds-sync/
frontend/design-system/ds-bundle/
frontend/design-system/.design-sync/.cache/
frontend/design-system/.design-sync/learnings/
frontend/design-system/node_modules/
