fastapi>=0.115.0
uvicorn==0.29.0
python-multipart
scikit-learn
numpy
joblib
pandas
basketball_reference_web_scraper
python-dotenv>=1.2.2
rapidfuzz==3.9.3
apscheduler==3.10.4
PyJWT>=2.8.0
requests>=2.33.0
urllib3>=2.6.3
espn-api
xlrd
stripe==10.5.0
slowapi>=0.1.9
nba_api==1.5.2
